.page-container {
    display: flex;
    gap:130px;
    margin-left: 150px;
}


.form-field{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 400px;
    border:1px solid gray;
}

.form-container{
    margin-top: 100px;
}

.cancel-btn{
    font-size: 20px;
    border-radius: 10px;
    padding:10px;
    margin-right: 20px;
    border-width: 1;
}

.cart-btn{
    background-color: rgb(67,123,173);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border-width: 1;
}

.shop-btn{
    margin-top: 30px;
}

.btn-container{
    margin-top: 30px;
}

